// Color Variables
$background-color: #e5e5e5;
$title-color: #3a3a3a;
$text-color: #a8a8b3;
$button-color: #04d361;
$hover-button-color: rgb(192, 192, 192);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Roboto", Arial, sans-serif;
  color: #121214;
  background-color: $background-color;
  background-image: url(../assets/github.svg);
  background-repeat: no-repeat;
  background-position: left 64% top -40px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}

button {
  cursor: pointer;
}

.container {
  width: 70vw;
  max-width: 960px;
}
