nav {
  margin-bottom: 2rem;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 40px auto auto;

  button {
    display: flex;
    align-items: center;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid red;
    cursor: pointer;
    overflow: hidden;
    height: 40px;
    width: 200px;

    .logo {
      width: 150px;
    }
  }
}

