nav {
  margin-bottom: 3.5rem;
}

.button-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 40px auto auto;

  button {
    position: relative;
    display: flex;
    align-items: center;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    height: 40px;
    padding: 0 10px;
    transition: 0.2s;

    &:hover {
      background-color: rgba(216, 216, 216, 0.5);
    }

    .logo {
      width: 150px;
    }
  }

  .invisible {
    display: none;
  }
}