@import "global";

.home-container {
  margin: 0 auto;

  #home-title {
    color: $title-color;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    input {
      padding: 0 5px 0 10px;
      color: $text-color;
      margin-bottom: 1rem;
    }

    input:focus {
      outline: 2px solid $button-color;
      outline-offset: -2px;
      color: $text-color;
    }

    input::placeholder {
      color: $text-color;
    }

    .form-item {
      height: 3rem;
      border: none;
      border-radius: 0.4rem;
      overflow: hidden;
      font-family: "Roboto";
      font-weight: 700;
      font-size: 0.9rem;
    }

    button {
      color: #fff;
      background-color: $button-color;
      outline: transparent;

      &:hover {
        background-color: #02bd56;
        transition: background-color 0.1s ease;
      }
    }

    button:active {
      background-color: #4144ff;
    }
  }

  @media (min-width: 768px) {
    #home-title {
      font-size: 3rem;
    }

    form {
      display: grid;
      grid-template-columns: 2fr 1fr;

      .form-item {
        height: 4.5rem;
      }

      input::placeholder {
        font-weight: 400;
        font-size: 1.25rem;
      }

      #home-input {
        border-radius: 0.4rem 0 0 0.4rem;
      }

      #search-button {
        border-radius: 0 0.4rem 0.4rem 0;

        font-weight: 400;
        font-size: 1.25rem;
      }
    }
  }
}
