@import "global";

.home-container {
  margin: 0 auto;

  #home-title {
    color: $title-color;
    margin-bottom: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;

    margin-bottom: 4rem;

    input {
      padding: 0 5px 0 10px;
      margin-bottom: 1rem;

      font-weight: 400;
      color: $text-color;
    }

    input:focus {
      outline: auto;
    }

    input::placeholder {
      color: $text-color;
    }

    .form-item {
      height: 3rem;
      overflow: hidden;

      border: none;
      border-radius: 0.4rem;

      font-family: "Roboto";
      font-size: 1rem;
    }

    button {
      color: #fff;
      background-color: $button-color;
      outline: transparent;

      font-weight: 700;
      letter-spacing: 0.2px;

      &:hover {
        background-color: #02bd56;
        transition: background-color 0.1s ease;
      }
    }

    button:active {
      background-color: #4144ff;
    }
  }

  @media (min-width: 768px) {
    #home-title {
      font-size: 2.4rem;
    }

    form {
      display: grid;
      grid-template-columns: 2fr 1fr;

      margin-bottom: 6rem;

      .form-item {
        height: 3.4rem;
      }

      input {
        padding: 0 1rem;
        font-weight: 400;
        font-size: 1.2rem;

        margin-bottom: 0;

        &::placeholder {
          font-size: 1rem;
        }
      }

      #home-input {
        border-radius: 0.4rem 0 0 0.4rem;
      }

      #search-button {
        margin-left: 1px;
        border-radius: 0 0.4rem 0.4rem 0;

        font-size: 1.2rem;
      }
    }
  }
}
