@import "../../styles/global.scss";

section.repository-list {
  margin: 0 auto;

  h1 {
    margin-bottom: 16px;
  }

  ul {
    list-style: none;
  }

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    padding: 1rem 1.6rem;
    border-radius: 0.4rem;

    overflow: auto;

    transition: box-shadow 0.2s;

    &:hover {
      box-shadow: 0 0 0.6rem $hover-button-color;
    }
    /*
    & -> referencia o próprio elemento.
    & + li -> Toda `li` que tiver outro `li` antes dela.
    Ou seja, não se aplica para o primeiro `li`.
    */
    & + li {
      margin-top: 1.2rem;
    }

    &:last-child {
      margin-bottom: 1.2rem;
    }

    .info-container {
      padding-right: 1rem;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color: $title-color;

      &:hover {
        text-decoration: underline;
        color: $button-color;
      }
    }

    p {
      font-size: 14px;
      color: $text-color;
      margin-top: 8px;
    }

    button {
      font-size: 0;
      border: transparent;
      border-radius: 0.4rem;

      img {
        background: #fff;
        border-radius: 0.4rem;

        transition: filter 0.2s;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}
